<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.greycom.stickers">

    <application
        android:name="com.greycom.stickers.StickerApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher_logo"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"

        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5773993462717773~1037636960"/>

        <activity android:name="com.greycom.stickers.EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.greycom.stickers.StickerPackListActivity"
            android:theme="@style/AppTheme.PackListActivityNoActionBar">

        </activity>

        <activity
            android:name="com.greycom.stickers.StickerPackDetailsActivity"
            android:parentActivityName="com.greycom.stickers.StickerPackListActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.greycom.stickers.StickerPackListActivity" />
        </activity>

        <activity
            android:name="com.greycom.stickers.StickerPackInfoActivity"
            android:label="@string/title_activity_sticker_pack_info"
            android:parentActivityName="com.greycom.stickers.StickerPackDetailsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.greycom.stickers.StickerPackDetailsActivity" />
        </activity>

        <provider
            android:name="com.greycom.stickers.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />
    </application>
</manifest>
